<?xml version="1.0" encoding="utf-8"?>
<VisualGuardConfiguration>
  <xmlSerializerSection type="Novalys.VisualGuard.Security.Configuration.VGSecuritySettings, Novalys.VisualGuard.Security, Culture=neutral, PublicKeyToken=8e423a8f05ffd0dc">
    <visualGuard.securitySettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" defaultRepositoryInstance="VGWebConsole" xmlns="http://www.visual-guard.com/01-09-2005/security">
      <repositories>
        <repository xsi:type="VGSQLServerRepositoryData" name="VGWebConsole" supportedAuthenticationModes="All" applicationId="a9efce21-c32a-47d5-a49b-b0953f2888b9" connectionString="server=CIPL-LPT-1073\SQL2019;initial catalog=VGTemp_2021_5;uid=1x67C11F366366561ACC34A04D262ED11D;pwd=1x91C52B1750C010C1E2D85689F3BE23EA;">
          <TypeName>Novalys.VisualGuard.Tools.VisualGuardConsole.Repositories.Database.SQLServer.SQLServerRepositoryNode</TypeName>
        </repository>
      </repositories>
    </visualGuard.securitySettings>
  </xmlSerializerSection>
</VisualGuardConfiguration>